@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 18px;
}
body {
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-top: 50px;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.img_card {
  width: 25%;
  height: auto;
  overflow: hidden;
  padding-right: 10px;
}

.img_container {
  display: flex;
  justify-content: flex-end;
  height: 25%;
}
.work_container {
  background-color: hsl(15, 100%, 70%);
}
.play_container {
  background-color: hsl(195, 74%, 62%);
}
.study_container {
  background-color: hsl(348, 100%, 68%);
}
.exercise_container {
  background-color: hsl(145, 58%, 55%);
}
.social_container {
  background-color: hsl(264, 64%, 52%);
}
.selfcare_container {
  background-color: hsl(43, 84%, 65%);
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: white;
  padding: 20px;
  padding-bottom: 0;
}
.icon_dots {
  height: 6px;
  padding: 10px;
}
.hours_container {
  border-radius: 10px;
  transform: translateY(-10%);
  background-color: hsl(235, 46%, 20%);
  height: 75%;
  transition: 1s;
  display: flex;
  flex-direction: column;
}
.hours_container:hover {
  background-color: hsl(235, 45%, 61%);
}
.curr_hours {
  font-size: 2.5em;
  color: white;
}
.past_hours {
  color: hsl(235, 45%, 61%);
}
.hours_div {
  padding-left: 10px;
}
.img_container_person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  transform: translateY(10%);
  padding-bottom: 32%;
}
.img_card_person {
  height: 60px;
  border: solid white;
  border-radius: 100%;
  margin: 25px;
}
.name_container {
  margin-left: 25px;
  color: white;
  padding-bottom: 40px;
  border-radius: 10px;
}
.card_person {
  display: block;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.main {
  grid-row: 1/3;
  margin-top: -27px;
  margin-left: 30%;
  height: auto;
  width: 70%;
}
.hours_container_choice {
  background-color: hsl(235, 46%, 20%);
  padding-top: 30px;
  border-radius: 10px;
  padding-bottom: 8%;
}
.choice {
  padding-left: 20px;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.61);
}
.btn {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(161, 157, 157);
}
.btn_active {
  color: white;
}

.btn:hover {
  color: white;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 11% 3%;
  }
  .main {
    margin-top: 0px;
    margin-left: 0px;
  }
  .cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }
  .card_person {
    width: 100%;
  }
  .img_container_person {
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;
    padding-top: 20px;
  }

  .hours_container_choice .choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: 70%;
  }
  .choice {
    padding-right: 20px;
  }
}
